.izq{
    
    //border:solid 1px red;

    .filtros{
        border:solid 1px grey; 
        padding: 10px;
        margin-top: 25px;

        .btn{
            margin-bottom: 10px;
        }
      
        .filtro{
            max-width: 100%;

            label{
                display: inline-block;
                max-width: 20%;
            }
            
            input{
                display: inline-block;
                width: 80%;
            }
        }
        .alquiler-venta{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 10px;            
        }

        .precio{
            span{
                font-weight: bold;
            }
            #min, #max{
                display: inline-block;
                max-width: 25%;
            }
        }
    }
    .cards{
        //border:solid 1px green;

        ul{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            li{      
                padding: 0;
                margin: 2%;
                width: 44%;               

                .item {
                    background-color: #fff;
                    position: relative;              
                    padding: 10px;
                    height: 220px;
                    border: solid 1px grey;
                    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                
                    img {
                        display: block;
                        margin: auto;
                        max-width: 100%;
                        border-bottom: 1px solid #ccc;
                    }
                    .datos {
                        padding: 5px;
                        font-size: 13px;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 10px 0;
                        overflow: hidden;

                        .nombre{
                            font-weight: bold;
                        }
                        
                    }
                    button {
                        border: 1px solid #722A1B;
                        padding: 4px 14px;
                        width: 80%;
                        background-color: #fff;
                        color: #722A1B;
                        text-transform: uppercase;
                        display: block;
                        margin: auto;
                        font-weight: bold;
                        cursor: pointer;
                        position: absolute;
                        bottom: -5%;
                        left: 10%;
                    }
                    
                }
            }
        }
    }
}

