<div class="izq col-xs-5">

  <div class="filtros">
    <a class="btn btn-default" [routerLink]="['../form-casas']">Nuevo / Modificar</a>
    <div class="form-group filtro">
      <label for="filtro">Filtro: </label>
      <input type="text" id="filtro" [(ngModel)]="searchtext" placeholder="Busqueda por nombre o direccion">
    </div>

    <div class="alquiler-venta">
      <div class="checkbox-inline">
        <label>
          <input type="checkbox" [(ngModel)]="alquiler"> Alquiler
        </label>
      </div>
      <div class="checkbox-inline">
        <label>
          <input type="checkbox" [(ngModel)]="venta"> Venta
        </label>
      </div>
    </div>

    <div class="form-group precio">
      <span>Precio </span>
      <label for="min">min: </label>
      <input type="number" id="min" [(ngModel)]="min">
      <label for="max"> max: </label>
      <input type="number" id="max" [(ngModel)]="max">
    </div>

  </div>
  <!-- filtros -->





  <div class="cards">
    <ul>
      <li *ngFor="let casa of casas | casasPipe : searchtext : alquiler : venta : min : max">
        <div class="item">
          <img src={{casa.foto}} alt={{casa.nombre}} />
          <div class="datos">
            <p class="nombre">{{casa.nombre}}</p>

            <p class="precio">
              <em>{{casa.precio}}€</em>
            </p>
          </div>
          <button class="detalle" type="button" (click)="verCasa(casa)">Ver Detalles</button>
        </div>

      </li>
    </ul>
  </div>
</div>
<!-- izq -->

<div class="dcha col-xs-7">
  <app-casa-detalle [casa]="casa"></app-casa-detalle>
</div>
<!-- dcha -->