.item {
    background-color: #fff;
                   
    padding: 10px;
    height: 260px;
    border: solid 1px grey;

    img {
        display: block;
        margin: auto;
        max-width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .datos {
        padding: 5px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px 0;
        
    }

    
}