.detalle {
    background-color: #fff;
    padding: 10px;
    border: solid 1px grey;
    position: relative;

    .alquiler{
        position: absolute;
        top: 10px;
        right: 10px;
        background: blue;
        padding: 5px;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
    }

    .venta{
        position: absolute;
        top: 10px;
        right: 10px;
        background: red;
        padding: 5px;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
    }

    img {
        display: block;
        margin: auto;
        max-height: 300px;
        width: auto;
        max-width: 80%;
        
    }
    .datos {
        padding: 5px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px 0;
        border-top: 1px solid #ccc;

        .nombre{
            font-weight: bold;
        }

    }
    .direccion, .habitaciones{
        margin-bottom: 5px;
    }

    .servicios{
        border: 1px solid blue;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        margin: auto;

        .servicio{
            max-width: 21%;
            margin: 2%;
        }
    }

    
}