<div class="container">

  <div class="lista col-xs-4">
    <a class="btn btn-default btn-block inmobiliaria-btn" [routerLink]="['../casas']">Inmobiliaria</a>

    <ul>
      <li *ngFor="let casa of casas">
        {{casa.nombre}}
        <div class="botones">
          <span class="glyphicon glyphicon-pencil btn btn-default" (click)="modificar(casa)"></span>
          <span class="glyphicon glyphicon-remove btn btn-danger" (click)="eliminar(casa)"></span>
        </div>
      </li>
    </ul>
  </div>

  <form class="col-xs-8" novalidate (ngSubmit)="submit($event)" [formGroup]="formulario">
    <div class="form-group form-inline">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" class="form-control">
      <p class="text-danger" *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched">El nombre es requerido y al menos debe contener 3 caracteres</p>
    </div>

    <div class="form-group form-inline">
      <label for="precio">Precio:</label>
      <input formControlName="precio" class="form-control">
      <p class="text-danger" *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched">El precio es requerido</p>
    </div>

    <div class="form-group form-inline">
      <label for="habitaciones">Habitaciones:</label>
      <input formControlName="habitaciones" class="form-control">
    </div>

    <div class="form-group form-inline">
      <label for="direccion">Direccion:</label>
      <input formControlName="direccion" class="form-control">
    </div>

    <div class="form-group radio form-inline">
      <label>
        <input type="radio" formControlName="alquiler" value="0">
        <span> Alquiler</span>
      </label>
      <label>
        <input type="radio" formControlName="alquiler" value="1">
        <span> Venta</span>
      </label>
    </div>

    <div class="form-group foto">
      <img [src]="formulario.controls.foto.value" [alt]="formulario.controls.nombre.value">

      <label for="foto">Foto:</label>
      <input formControlName="foto" class="form-control">
    </div>






    <label for="servicios">Servicios: </label>

    <!-- <div class="form-group checkbox form-inline">

      <label>
        <input type="checkbox" formControlName="tv"> TV
      </label>

      <label>
        <input type="checkbox" formControlName="wc"> WC
      </label>

      <label>
        <input type="checkbox" formControlName="jardin"> Jardin
      </label>

      <label>
        <input type="checkbox" formControlName="cocina"> Cocina
      </label>

    </div> -->

    <div class="form-group checkbox form-inline" formArrayName="servicios">
      <div *ngFor="let servicio of formulario.controls.servicios.controls; let i=index">
        
        <div class="servicio" [formGroupName]="i">
          <label>
            <input type="checkbox" class="form-control" formControlName="disponible"> {{servicio.value.nombre}}
          </label>
          <!-- <input type="checkbox" class="form-control" formControlName="disponible">
          <input type="text" class="form-control" formControlName="nombre"> -->
        </div>
      </div>
    </div>


    <input type="submit" *ngIf="crearbtn" class="btn btn-success" value="Crear">
    <input type="submit" *ngIf="!crearbtn" class="btn btn-default" value="Modificar">

    <input type="button" class="btn btn-danger" value="Reset" (click)="limpiarForm()">
  </form>





</div>
<!-- container -->