<div class="container">

  <div class="lista col-xs-3">
    <a class="btn btn-primary" [routerLink]="['../casas']">Inmoviliaria</a>

    <ul>
      <li *ngFor="let casa of casas">
        {{casa.nombre}}
        <span class="glyphicon glyphicon-pencil btn btn-default" (click)="modificar(casa)"></span>
        <span class="glyphicon glyphicon-remove btn btn-danger" (click)="eliminar(casa)"></span>
      </li>
    </ul>
  </div>

  <form class="col-xs-9" novalidate (ngSubmit)="submit($event)" [formGroup]="formulario">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input formControlName="nombre" class="form-control">
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input formControlName="precio" class="form-control">
    </div>

    <label>Alquiler: </label>
    <div class="form-group radio form-inline">
      <label>
        <input type="radio" formControlName="alquiler" value="0">Alquiler</label>
      <label>
        <input type="radio" formControlName="alquiler" value="1">Venta</label>
    </div>

    <div class="form-group">
      <label for="habitaciones">Habitaciones:</label>
      <input formControlName="habitaciones" class="form-control">
    </div>

    <div class="form-group">
      <img [src]="casa.foto" alt="casa.nombre">
      <label for="foto">Foto:</label>
      <input formControlName="foto" class="form-control">
    </div>

    <div class="form-group">
      <label for="direccion">Direccion:</label>
      <input formControlName="direccion" class="form-control">
    </div>




    <label for="servicios">Servicios: </label>

    <div class="form-group checkbox form-inline">

      <label>
        <input type="checkbox" formControlName="tv"> TV
      </label>

      <label>
        <input type="checkbox" formControlName="wc"> WC
      </label>

      <label>
        <input type="checkbox" formControlName="jardin"> Jardin
      </label>

      <label>
        <input type="checkbox" formControlName="cocina"> Cocina
      </label>

    </div>


    <input type="submit" *ngIf="crearbtn" class="btn btn-success" value="Crear">
    <input type="submit" *ngIf="!crearbtn" class="btn btn-default" value="Modificar">

    <input type="button" class="btn btn-danger" value="Reset" (click)="limpiarForm()">
  </form>





</div>
<!-- container -->